{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"],
    "arrow-parens": ["error", "always"],
    "no-underscore-dangle": "off",
    "max-len": ["error", { "code": 140, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
    "max-lines": ["error", 350],
    "no-alert": "off",
    "import/no-unresolved": 0,
    "no-use-before-define": "error",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-empty-function": "off",

    "react/destructuring-assignment": ["error", "never"],
    "react/jsx-fragments": ["error", "syntax"],
    "react/no-array-index-key": "off",
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function" }],
    "react/jsx-boolean-value": "error",
    "react/jsx-sort-props": "off",
    "react/jsx-sort-default-props": "off",
    "react/no-danger": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 1 }],
    "react/no-unused-state": "off",
    "react/jsx-filename-extension": ["error", { "allow": "always", "extensions": [".jsx", ".tsx"] }],
    "react/no-unescaped-entities": "off",
    "import/extensions": ["error", "never", { "svg": "always", "style": "always" }],
    "react/prop-types": "warn",
    // "react/react-in-jsx-scope": "error",
    // "jsx-a11y/click-events-have-key-events": "off",
    // "jsx-a11y/no-static-element-interactions": "off",
    // "jsx-a11y/no-noninteractive-element-interactions": "off",
    // "jsx-a11y/anchor-is-valid": "off",
    // "react/jsx-no-bind": "off",
    // "react/destructuring-assignment": "off",
    // "react/forbid-prop-types": "off",
    // "react/no-unescaped-entities": "off",
    // "react/no-unused-prop-types": "off",
    // "react/default-props-match-prop-types": "off",
    // "@typescript-eslint/no-empty-function": "off",
    // "class-methods-use-this": "off",
    // "react/jsx-child-element-spacing": "error",
    // "react/jsx-curly-brace-presence": ["error", { props: "never", children: "never" }],
    // "react/jsx-max-depth": [2, { max: 6 }],
    // "react/jsx-props-no-spreading": [1, { html: "enforce" }],
    // "react/jsx-newline": [2, { prevent: true }],
    // "react/jsx-closing-tag-location": "off",
    // "react/jsx-wrap-multilines": [
    //   2,
    //   {
    //     declaration: "parens",
    //     assignment: "parens",
    //     return: "parens",
    //     arrow: "parens",
    //     condition: "ignore",
    //     logical: "ignore",
    //     prop: "ignore",
    //   },
    // ],
    // "@typescript-eslint/explicit-module-boundary-types": 0,
    // camelcase: 0,
    // "object-curly-newline": [
    //   "error",
    //   {
    //     ObjectExpression: { multiline: true, minProperties: 5 },
    //     ObjectPattern: { multiline: true, minProperties: 5 },
    //     ImportDeclaration: { multiline: false, minProperties: 5 },
    //     ExportDeclaration: "never",
    //   },
    // ],
    // "import/prefer-default-export": 0,
    // "import/extensions": ["error", "never", { svg: "always", style: "always" }],
    // "import/no-unresolved": 0,
    // "import/no-extraneous-dependencies": ["error", { devDependencies: true, optionalDependencies: false, peerDependencies: false }],
    // "no-shadow": 0,
    // "react/prop-types": 0,
    // "react/require-default-props": 0,
    // "react/no-unused-state": "off",
  }
}
